.hidden {
	display: none !important;
}

.active {

	opacity: 1 !important;
	transition: opacity 0.5s ease-in-out;

}

.fill-parent {
	width: 100%;
	height: 100%;
}

.title, .subtitle {
	text-align: center;
	padding: 0 10%;
}

.title {
	font-size: 54px;
	margin-top: 180px;
	margin-bottom: 15px;
}

.subtitle {
	// &:before, &:after { content: '--'; padding: 0 15px; }
	opacity: 0.50;
	// text-transform: lowercase;
	font-size: 34px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 60px;
}

.main-link {
	font-family: 'Hallo';
	width: 180px;
	display: block;
	margin: auto;
	text-align: center;
	color: black;
	border: 3px solid black;
	border-radius: 12px;
	padding: 8px;
	font-size: 32px;
	opacity: 0.2;
	&:hover { opacity: 1; }
}