.banner {

	width: 100%;
	height: 100%;

	background-color: get-color(base);

	position: relative;

	&__summary {

		position: absolute;

		padding: 0 30px;

		width: 100%;
		top: 20%;
		text-align: center;

		a {
			font-size: 30px;
			font-family: 'Hallo';
			padding: 10px;
		}

	}

	&__globe {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__message {
		transition: all 0.75s;
		position: absolute;
		top: 32%;
		color: white;
		text-align: center;
		width: 100%;
		font-size: 24px;
		opacity: 0.8;
		font-family: 'Hallo';
	}

	&__geopath {
		cursor: pointer;
		stroke: white;
		fill: white;
		stroke-width: 0.2px;
		&--active, &:hover {
			opacity: 1;
			transition: opacity 0.2s ease-in-out;
		}
	}

}