.static {
	width: 90%;
	max-width: 768px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 50px;
	color: map-get($palette, grey);

	li {
		padding: 5px 15px;
		list-style-type: square;
	}

	a {
		color: map-get($palette, grey);
		border-bottom: 2px dotted map-get($palette, grey);
		opacity: 0.5;
		&:hover { opacity: 1; }
	}

	img, iframe {
		width: 80%;
		max-width: 500px;
		max-height: 500px;
		display: block;
		margin: 40px auto;
	}

	iframe {
		height: 400px;
	}

}