doctype html
html
	head
		title Peter Szerzo | Interactive Web Developer and Designer | Washington DC
		meta(name='description', content='Full-stack web developer and lightly taught designer focused on user interface engineering, interactive data visualization, mapping and 3d graphics. Good eye and thought processes for intuitive UI and fluid UX. Based in Washington, DC.')
		meta(charset='utf-8')
		link(rel="icon", type="image/png", href="images/favicon/favicon.png")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(src="/scripts/site.js")

	body

		div(class='banner fill-parent')
			div(class='banner__globe')
			ul(class='banner__summary')
				li
					a(href="https://github.com/pickled-plugins", target="_blank") mindful code
				li
					a(href="https://www.etsy.com/shop/dchisel", target="_blank") minimal design

		ul(class='projects')
			each project in projects
				li
					a(class="project", href="projects/#{project.id}")
						img(src="images/project-logos/project-logos_#{project.name}.svg")
						div= project.name


		div(id="footer")
			div(class="footer")

		script(type='text/javascript').
			$(function() { psz.globe().start(); });