// COLORS
// $base-color: #0F3954;
$base-color: darken(#0F3954, 10);//#00111F;

$palette: (
	base: #0F3954,
	grey: #222
);


// GEOMETRY

// breakpoint
$breakpoint: 780px;

// default grid padding
$grid-pad: 80px;

$project: 250px;