doctype html
html
	head
		title Peter Szerzo makes a website
		meta(name='description', content='Web developer and designer based in DC, preparing to relocate to Copenhagen. It is indeed so.')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

		link(rel="shortcut icon", type="image/x-icon", href='/images/favicon.ico')

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

		link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=PT+Serif', rel='stylesheet', type='text/css')

		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js", async)
		script(src="/scripts/bundle.js")

	body
		
		div(id='site', class='fill-parent no-touch')
			!= reactOutput

		script.
			window.startPSz();