// COLORS
// $base-color: #0F3954;
$base-color: darken(#0F3954, 10);//#00111F;

$colors: (
	base: darken(#101C29, 2),
	white: #FFFFFF,
	blue: #2D375D,
	greenish-blue: #0E3647,
	purple: #4F3F91,
	light-purple: #9695A8
);

$palette: (
	blue: (
		base: #2D338C,
		light: #1D9DFF
	)
);

@function get-color($key, $index: 1) {
	@if ($key == 'scheme') {
		@return nth(map-get($colors, $key), $index);
	}
	@return map-get($colors, $key);
}

// GEOMETRY

// breakpoint
$breakpoint: 780px;

// default grid padding
$grid-pad: 80px;

$project: 250px;

$header-height: 70px;
$icon-size: 25px;