.link {

	$c: darken(map-get($colors, purple), 7);
	font-family: 'Hallo';
	width: 170px;
	margin: auto;
	text-align: center;
	color: $c;
	border: 1.5px solid $c;
	padding: 8px 16px;
	font-size: 26px;
	opacity: 0.6;
	transition: all 0.3s;

	&:hover { 
		opacity: 1;
		color: white;
		background-color: $c;
		transition: all 0.3s;
	}

}