.link {
	$c: darken(map-get($colors, purple), 7);
	font-family: 'Hallo';
	width: 170px;
	margin: auto;
	text-align: center;
	color: $c;
	border: 1px solid $c;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 26px;
	opacity: 0.6;
	transition: all 0.3s;
	&:hover { 
		opacity: 1; 
		transition: all 0.3s;
	}
}