.header {

	overflow: visible;
	position: fixed;
	width: 100%;
	height: $header-height;
	top: 0;

	background-color: transparentize(get-color(base), 0.05);
	transition: all 0.2s;

	&--transparent {
		background: none;
	}

	color: white;
	z-index: 100;

	&__main-link {

		height: 100%;
		width: 150px;

		svg { 
			height: 40px; 
			width: 40px; 
			margin-top: 20px; 
			margin-left: 20px;
			fill: white; 
		}
	}

	&__nav {

		z-index: 100;

		width: 130px;
		height: 80px;
		overflow: visible;
		float: right;

		@media screen and (min-width: 800px) {
			width: auto;
			float: auto;
		}

		text-align: right;
		padding: 0;

		&__arrow, &__item {
			width: 130px;
			float: right;
			height: 100%;
			padding: 0;
		}

		&__arrow {

			cursor: pointer;
			display: table;
			text-align: center;

			@media screen and (min-width: 800px) {
				display: none;
			}

			svg {
				opacity: 0.9;
				text-align: center;
				vertical-align: middle;
				display: table-cell;
				fill: white;
				width: 40px;
				height: 40px;
				margin: 20px auto;
			}

			&:hover, &--active {
				& > svg { opacity: 1; }
			}

		}

		&__item {

			z-index: 100;
			display: none;

			.header__nav:hover &, .header--expanded & {
				background-color: transparentize(get-color(base), 0.05);
				display: table;
			}

			.header--transparent & {
				background: none !important;
			}

			@media screen and (min-width: 800px) {
				.header__nav:hover & {
					background: none;
				}
				display: table;
				&:hover, &--active {
					border-bottom: 6px solid lighten(map-get($colors, purple), 7);
					.header--transparent & {
						border-color: white;
					}
				}
			}

			a { 
				height: 100%;
				padding: 0 30px;
				display: table-cell;
				position: relative;
				text-align: center;
				vertical-align: middle;
				font-family: 'Hallo';
			}

			@media screen and (min-width: 800px) {
				display: table;
				background: none;
				&:hover, &--active {
					a { 
						top: 3px;
						opacity: 1;
					}
				}
				
			}

		}
	}

}