.project {

	$h: 300px;

	&-show, &-groups {
		margin: 0;
		padding: 60px 0;
	}

	&-show {
		&__links {
			text-align: center;
			display: block;
			li {
				margin: 15px 15px;
				display: inline-block;
			}
			.link {
			}
		}
	}

	&-groups {
		width: $h;
		@include bp-w(2 * $h + 40) {
			width: 2 * $h;
		}
		@include bp-w(3 * $h + 40) {
			width: 3 * $h;
		}
		margin: auto;
	}

	&-group {
		margin-top: 75px;
		& > h1 {
			opacity: 1;
			margin: 0;
			font-size: 36px;
			text-align: center;
		}

		&__separator {
			$h1: 2px;
			height: $h1;
			background-color: lighten(map-get($colors, purple), 5);
			border-radius: $h1 / 2;
			margin: 10px 20px 35px 20px;
			opacity: 0.5;
		}

	}

	&-list {

		width: 100%; 
		margin: 30px auto;
		text-align: left;

		& > li { display: inline-block; }

		&__item {

			display: inline-block;

			fill: get-color(greenish-blue);
			position: relative;
			width: $h;
			height: $h;
			
			transition: 0.5s ease-in-out;

			& > * { position: absolute; }

			& > *, &:hover > * { 
				transition: 0.5s ease-in-out; 
			}

			&__logo {

				width: 0.7 * $h;
				height: 0.7 * $h;
				left: 0.15 * $h;
				z-index: 9;
				top: 0.08 * $h;

				.project-list__item:hover & {
					opacity: 1;
					top: 0.08 * $h;
				}

				.no-touch & {
					top: 0.15 * $h;
					opacity: 0.95;
				}
			}
			
			&__title {

				color: $base-color;
				font-size: 24px;
				top: 81%;
				width: 90%;
				left: 5%;
				opacity: 1;
				text-align: center;

				.no-touch & {
					color: $base-color;
					font-size: 24px;
					top: 76%;
					width: 90%;
					left: 5%;
					opacity: 1;
					text-align: center;
				}

				.project-list__item:hover & {
					opacity: 1;
					top: 81%;
				}

				.no-touch & {
					top: 76%;
					opacity: 0;
				}

			}
			
		}

	}

}