.project {

	$h: 250px;

	$r: 0.75;

	&-show, &-groups {
		margin: 0;
	}

	&-show {

		padding: 80px 0 40px 0;

		&__links {
			text-align: center; 
			display: block;
			li {
				margin: 15px 15px;
				display: inline-block;
			}
		}
		
	}

	&-group {

		width: 100%;
		padding: 100px 0 40px 0;

		&:nth-of-type(2n+0) {
			background-color: #f6f6f6;
		}

		&__content {
			width: $h;
			@include bp-w(2 * $h + 40) {
				width: 2 * $h;
			}
			@include bp-w(3 * $h + 40) {
				width: 3 * $h;
			}
			margin-left: auto;
			margin-right: auto;

			& > h1 {
				opacity: 1;
				margin: 0;
				font-size: 36px;
				text-align: center;
			}

		}

		&__separator, &__description {
			margin-left: 20px;
			margin-right: 20px;
		}

		&__description {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		&__separator {
			$h1: 2px;
			height: $h1;
			background-color: lighten(map-get($colors, purple), 5);
			border-radius: $h1 / 2;

			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
			margin-bottom: 15px;
			opacity: 0.5;
		}

	}

	&-list {

		width: 100%; 
		margin: 30px auto;
		text-align: left;

		& > li { display: inline-block; }

		&__item {

			display: inline-block;

			fill: get-color(greenish-blue);
			position: relative;
			width: $h;
			height: $h * 0.9;
			
			@include transition(all 0.75s);

			& > * { position: absolute; }

			& > *, &:hover > * { 
				@include transition(all 0.75s);
			}

			&__logo {

				width: $r * $h;
				height: $r * $h;
				left: (0.5 - $r / 2) * $h;
				z-index: 9;
				top: 0.00 * $h;

				.project-list__item:hover & {
					opacity: 1;
					top: 0.00 * $h;
				}

				.no-touch & {
					top: 0.06 * $h;
					opacity: 0.95;
				}
			}
			
			&__title {

				color: $base-color;
				@include font-size(28px);
				top: 85%;
				width: 90%;
				left: 5%;
				opacity: 1;
				text-align: center;

				.no-touch & {
					color: $base-color;
					font-size: 24px;
					top: 76%;
					width: 90%;
					left: 5%;
					opacity: 1;
					text-align: center;
				}

				.project-list__item:hover & {
					opacity: 1;
					top: 85%;
				}

				.no-touch & {
					top: 76%;
					opacity: 0;
				}

			}
			
		}

	}

}