include ../mixins/header

extend ../layout

block content

	mixin header

	ul(class='projects')
		each project in projects
			li
				a(class="project", href="projects/#{project.id}")
					img(src="images/project-logos/project-logos_#{project.id}.svg")
					div= project.name