html
	head
		title Peter Szerzo | Interactive Web Developer and Designer | Washington DC
		meta(name='description', content='Full-stack web developer and lightly taught designer focused on user interface engineering, interactive data visualization, mapping and 3d graphics. Good eye and thought processes for intuitive UI and fluid UX. Based in Washington, DC.')
		meta(charset='utf-8')
		link(rel="icon", type="image/png", href="images/favicon/favicon.png")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(src="/scripts/site.js")

	body

		div(class='header')
			ul
				li 
					a(href="/") projects
				li 
					a(href="/") blog

		h1(class='title') #{project.name}

		div(class='static') !{project.bodyText}