extend ../layout

block content

	div(class='header')
		ul
			li 
				a(href="/") code
			li 
				a(href="/") design
			li 
				a(href="/") blog

	h1(class='title') #{project.name}

	div(class='static') !{project.bodyText}