header {

	width: 100%;
	padding: 5px auto auto auto;
	margin-top: 40px;
	margin-bottom: 60px;
	display: block;

}

#banner {

	width:900px;
	height:180px;

	margin: auto;
	background: white url('../images/banner.svg') no-repeat;
	background-size:contain;

	@media screen and (max-width: $wSite) {
		width: 100%;
		height: auto;
		background: none;
	}
}

#title {

	width: 200px;
	margin-top:0px;   
	margin-left:340px;
	font-size:3rem;    
	letter-spacing: 8px;
	font-weight:590;
	position:absolute;
	@media screen and (max-width: $wSite) {
		position:static;
		display:block;
		margin:auto auto auto 20%;
	}

}

#subtitle {
	width: 200px;
	margin:70px auto auto 480px;
	white-space: nowrap;
	font-size:1.4rem;
	font-weight:300;
	position:absolute;
	@media screen and (max-width: $wSite) {
		position:static;
		display:block;
		margin:auto auto auto 20%;
	}	
}

nav {

	width: 80%;
	background-color: $cInactive;

	height:50px;

	margin: 40px auto 120px auto;
	border-radius: 15px;	

	display: block;

	div {

		width: 20%;
		height: 50px;
		margin: 0 2.5% 0 2.5%;
		font-size: 1.1rem;   	
		float: left;	
		text-align: center;
	    vertical-align: middle;	
	    line-height: 50px;
		color: white;
	    background-color: $cInactive;
	    border-radius: 15px;
	    @include makeRTransition(0.8s);  

	    img {

			width:80px;
			position:static;
			display:block;
			margin:auto;
			opacity:1;
			@include makeRTransition(0.8s); 

		}    

	    &:hover {		

			margin-top:-20px;
			height:110px;
			background-color: $cHover;

			@include makeTripleTransition(background-color,margin-top,height,0.5s,ease-in-out);

			img {
				@include makeTransition(opacity, 0.8s, ease-in-out);
			}

		}    

	}

}

#activeNavButton {

	height:110px;
	margin-top:-20px;
	background-color: $cActive;

}

footer {

	margin: 80px auto 30px auto;
	//clear: both;
	float: left;
	display: block;
	width: 900px; 
	height: 180px;
	background: url('../images/footer.svg') no-repeat;
	background-size: contain;

	p {	
		padding-top:45px;
		text-align:center;
		line-height:1.5;
	}

	@media screen and (max-width: $wSite) {
		width:90%;
		height:auto;
		margin:auto auto 30px auto;
		background:none;
	}

}