#content {
	background-color:white;
	-moz-box-sizing:border-box;
		 box-sizing:border-box;
	width:90%;
	text-align:center;
	margin: auto;
	clear: both;
	display:block;
}

.contact {

	padding-top: 20px;
	padding-bottom: 20px;
	display: block;

}

.project-title {

	border: 1px solid black;
	border-radius: 25px;

}

.project {

	display: inline-block;
	margin: auto;

	div {

		width: 200px;
		height: 200px;
		margin: 35px 20px 0 20px;	
		line-height: 1.5;
		position: relative;
		background-color: $cInactive;
		border-radius: 30px;
		float: left;
		@include makeRTransition(0.5s);

		p {

			opacity: 0;
			color: white;
			margin-top: 30%;
			text-align: center;
			vertical-align: center;
		    font-size: 1.2rem;	
			@include makeRTransition(0.5s);

		}

		img {

			opacity: 1;
			position: absolute;
			width: 100%;
			height: 100%;
			left: -0%;
			@include makeRTransition(0.5s);

		}

		&:hover {

			opacity:1;
			background-color: $cActive;
			@include makeTransition(background-color, 0.5s, ease-in-out);

			p {

				opacity:1;
				@include makeTransition(opacity, 0.5s, ease-in-out);

			}

			img {

				opacity: 0.07;
				@include makeTransition(opacity, 0.5s, ease-in-out);

			}

		}

	}
}

div.project-divider {

	float: left;

	width: 90%;
	margin-left: 5%;
	margin-top: 80px;
	margin-bottom: 15px;
	height: 8px;
	border-radius: 4px;
	background-color: #eee;

	div {

		position: relative;
		height: 20px;
		width: 25%;
		top: -12px;
		margin-left: 37.5%;
		background-color: white;

	}

}

.necklace {

	width: $wPendantDiv;
	height: $hPendantDiv;
	margin: 25px;
	display:inline-block;
	border-radius:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;

	img {

		-webkit-filter: grayscale(60%);
		width: 100%;
		border-radius: 10px;
		@include makeRTransition(0.8s);
		overflow: hidden;

	}

	&:hover img {

		-webkit-filter:grayscale(0%);
		width:200%;
		margin:-71% 0 0 -53.33%;	
		overflow:hidden;
		@include makeTripleTransition(width,margin,-webkit-filter,0.8s,ease-in-out);

	}

}


.necklace-description {

	margin-top: 15%;
	color: white;
	text-align: center;

}

.necklaceNav {

	width:70%;
	opacity:1;
	display:block;
	text-size:1rem;
	color:black;
	margin:auto;	
	
	a {
		cursor: pointer;
		display: inline;		
		font-size: 1rem;
		text-align: center;
		vertical-align: middle;
		color: #BBB;
		font-weight: bold;	
		@include makeRTransition(0.2s);
		&:hover {

		    color:#444;
		    font-size:1rem;
		    @include makeDoubleTransition(color,text-size,0.2s,ease-in-out);
		}

	}

	#activeNecklacePage {

		color: #000;

	}

}
	
canvas {

	display: none;
	position: relative;
	margin: 20px auto auto auto;

}