* {
	font-family: "Courier New";
	letter-spacing: 1px;
	line-height: 1.9;
}

h1,h2,h3,h4,p { text-align: left; max-width:650px; }

h1,h2,h3,h4 { font-weight: 590; }

h1 { font-size: nth($fs, 1); }
h2 { font-size: nth($fs, 2); }
h3 { font-size: nth($fs, 3); }
h4 { font-size: nth($fs, 4); }
p  { font-size: nth($fs, 4); }

img { border-radius: 25px; width: 85%; }

iframe { 

	display: block; 
	border-radius: 15px;

	@media (max-width: $wSite) {

		width: 100%;

	}

}

.etsy-logo { font-size: 1.7rem; font-family: "Baskerville"; margin-top: 0; margin-bottom: 0; }

.panel {

	width: 70%;
	margin-left: 25%;
	padding: 35px 40px;
	margin: 40px auto;
	background-color: $cPanel;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;

}

.errorMessage {

	padding:20px 40px;
	margin:50px auto;
	border-radius:40px;
	background-color: $cErrorMessage;
	text-align: center;
	vertical-align: middle;

	p {

		color: lighten($cErrorMessage, 25);

	}

}


a { 

	font-size:1em; 
	text-decoration:none; 
	color: #888; 

	&:hover { color:black; }

	&.disabled:hover {

		color: #888;
		pointer-events: none;

	}

	&.back { 

		font-weight:bold;
		padding:auto auto 80px auto;
		&:hover { font-weight:bold; }

	}

}

li,ul { margin:0;padding:0; }
ul { list-style-type: none;}

.fitImage {

	display:inline-block;
	max-width: 600px;
	width:90%;
	border-radius:40px;
	@media (max-width:$wSite) {
		border-radius:10%;
	}

}

#wrapper {

	width: $wSite;
	margin: auto;
	@media (max-width:$wSite) {
		width: 95%;
	}

}

.button {

	opacity:1;
	display:inline-block;
	width:$wButton;
	height:$wButton;
	margin:auto;
	line-height:$wButton;
	box-shadow:0px 0px 8px 1px $cActive;
	background-color: $cInactive;
	border-radius:100%;
    color:#eee;
	
	cursor: pointer;
	
	@include makeRTransition(0.2s);
	
	&:hover {

		opacity:1;
		color:white;
		background-color: $cModal;
		@include makeTripleTransition(color, background-color, opacity, 0.2s, ease-in-out);
		img,p {
			opacity: 1;
		}

	}

	&.modal {

		padding: 10px;
		background-color: rgba(0, 0, 0, 0);
		box-shadow: none;
		border: none;

	}
	
	img,p { opacity: 0.85; }
	
	img {
		height:100%;
	}
	
	p {
		text-size: 1em;
		text-align: center;
		vertical-align: middle;
		font-weight: bold;
		margin-left:auto;
		margin-right:auto;
	}
}

#modal {

	 -webkit-user-select: none;
     	-moz-user-select: -moz-none;
	  	 -ms-user-select: none;
          	 user-select: none;

	position: fixed;
	opacity:0;

	width:80%;
	height:80%;

	margin-left:-40%;
	left:50%;

	overflow: scroll;
	
	border-radius: 30px;
	box-shadow:0px 0px 15px 5px grey;
	
	background-color:$cModal;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:80%;
	
	z-index:10;
	pointer-events:none;

	@include makeRTransition(0.5s);
	
	&:target {

		pointer-events: all;
		opacity:1;
		@include makeTransition(opacity,0.5s,ease-in-out);	

	}
	
	a {

		width: $wButton;
		height: $wButton;
		position: fixed;

	}

}

#modal-exit {

	position: fixed;
	background-color:none;

}