$wSite: 900px;

$breakpoint: 720px;

// FONT SIZES
$fs: 1.5rem, 1.3rem, 1.1rem, 1.0rem, 0.9rem;

// COLORS
// buttons and links
$cActive: #333;
$cHover: lighten($cActive, 25%);
$cInactive: lighten($cActive, 50%);
$cPanel: lighten($cActive, 70%);
$cErrorMessage: #D19494;
$cModal: #262524;

// button
$wButton: 55px;
$wPendantDiv: 200px;
$hPendantDiv: 0.8*$wPendantDiv;