doctype html
html
	head
		title Peter Szerzo | Interactive Developer and Designer | Washington DC
		meta(name='description', content='Full-stack web developer and self-taught designer focused on user interface engineering, interactive data visualization, 3d graphics and mapping. Good eye for intuitive UI and fluid UX. Born and raised in Eastern-Europe, based in Washington, DC.')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel="icon", type="image/png", href="images/favicon/favicon.png")
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(src="/scripts/bundle.js")

	body
		
		block head
		block content
		block foot