doctype html
html
	head
		title Peter Szerzo's Things
		meta(name='description', content='This and that from an all-in-all friendly, enthusiastic fellow with eager-to-pedal feet, a green thumb and a curious mind.')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel="icon", type="image/png", href="images/favicon/favicon.png")
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(src="/scripts/bundle.js")

	body
		
		block head
		block content