* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
html, body {
	
	width: 100%;
	height: 100%;
	margin: 0;
	
}

a { text-decoration: none; color: white; }



div[id$="-container"] {

	width: 100%;

}

ul {

	list-style-type: none;
	padding: 0;
	margin: 0;

	li {

		display: inline-block;

	}

}

img {

	border-radius: 10px;
	max-width: 500px;

	@media screen and (max-width: $breakpoint) {

		width: 250px;
		margin: auto;

	}

}