@font-face {
	font-family: 'Hallo';
	src: url('../fonts/Hallo-Sans/Hallo sans.otf');
	font-style:   normal;
    font-stretch: normal;
}

* {
	font-family: 'Hallo';
	font-weight: normal;
}

p { line-height: 150%; }