.active {

	opacity: 1 !important;
	transition: opacity 0.5s ease-in-out;

}

.fill-parent {
	width: 100%;
	height: 100%;
}

.title, .subtitle {
	text-align: center;
}

.title {
	font-size: 48px;
	margin-top: 180px;
	margin-bottom: 15px;
}

.subtitle {
	opacity: 0.6;
	font-size: 30px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 60px;
}